Xadrez/target/apidocs/*.html linguist-detectable=false
Xadrez/target/apidocs/class-use/*.html linguist-detectable=false
Xadrez/target/modelo/*.html linguist-detectable=false
Xadrez/target/modelo/class-use/*.html linguist-detectable=false
Xadrez/target/modelo/enums/*.html linguist-detectable=false
Xadrez/target/modelo/enums/class-use/*.html linguist-detectable=false
Xadrez/target/controle/*.html linguist-detectable=false
Xadrez/target/controle/class-use/*.html linguist-detectable=false
Xadrez/target/visao/*.html linguist-detectable=false