/Xadrez/target/apidocs/*.html linguist-detectable=false
/Xadrez/target/apidocs/class-use/*.html linguist-detectable=false
/Xadrez/target/main.java.modelo/*.html linguist-detectable=false
/Xadrez/target/main.java.modelo/class-use/*.html linguist-detectable=false
/Xadrez/target/main.java.modelo/enums/*.html linguist-detectable=false
/Xadrez/target/main.java.modelo/enums/class-use/*.html linguist-detectable=false
/Xadrez/target/main.java.controle/*.html linguist-detectable=false
/Xadrez/target/main.java.controle/class-use/*.html linguist-detectable=false
/Xadrez/target/main.java.visao/*.html linguist-detectable=false
**.html linguist-detectable=false